body{
  background-color:lightblue ;
  background-image:url();
  font-family: garamond, georgia, sarif;
  margin:10% 20%;
  
}
h1{
  font-size:48px;
  color:blue;
  font-family:monaco, cursive, garamond;
  text-align: center;
 
border-top: 1px solid black;
border-bottom:1px solid black;
}



h3{
  text-align:center;
  border:double;
  text-transform: uppercase;
  
  
}
